<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bps.nagekeosatudata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about.AboutActivity"></activity>
        <activity android:name=".infografis.ViewInfografisActivity"></activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.com.bps.nagekeosatudata.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.bps.nagekeosatudata.search.SearchResultActivity" />
        </activity>
        <activity
            android:name=".berita.ViewBeritaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".indikator.IndikatorViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".indikator.GrafikDetailActivity"
            android:label="@string/title_activity_grafik_detail"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".indikator.TabelDetailActivity"
            android:label="@string/title_activity_tabel_detail"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".brs.ViewBrsActivity"
            android:label="@string/title_activity_view_brs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".publikasi.ViewPublikasiActivity"
            android:label="@string/title_activity_view_publikasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tabelstatis.ViewTabelActivity"
            android:label="@string/title_activity_view_tabel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".auth.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ViewChatAdminActivity"
            android:label="@string/title_activity_view_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".chat.SettingsProfileActivity"
            android:label="@string/title_activity_settings_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".chat.notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".chat.notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bps_launcher" />

        <activity
            android:name=".chat.SendEmailActivity"
            android:label="@string/title_activity_send_email"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>